@charset "utf-8";

#skip {
  z-index: 2;
  width: 100%;
  position: fixed;top: 0;left: 0;}
  
#skip li {
  width: 100%;}

#skip li a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 0px;
  font-size: 0px;
  background: #000;
  color: #fff;
}

#skip li a:focus {
  line-height: 50px;
  font-size: 20px;
}

/* 공통 스타일 요소 */
.container {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

#wrap {
  position: relative;
  z-index: 1;
  width: 100%;}

  /* 헤더 */
#wrap #header {
  z-index: 3;
  width: 100%;height: 123px;
  background: #f6f5ef;
  border-top: 2px solid #000;
  border-bottom:1px solid #e5e5e5;
  position: fixed;
  top: 0;left: 0;
}

/* 로고 */
#wrap #header .container .logo-box {
  width: 75px;height: 100%;
  float: left;
}
#wrap #header .container .logo-box h1 {
  height: 120px;
  line-height: 110px;
}
#wrap #header .container .logo-box h1 a img {
  width: 100%;
}

/* 사이드메뉴 */
#wrap #header .container .nav-box {
  width: 1025px;height: 100%;
  float: left;
}
#wrap #header .container .nav-box #aside {
  width: 100%;height: 54px;
}
#wrap #header .container .nav-box #aside ul {
  float: right;
  padding: 8px 45px 0 0;
}
#wrap #header .container .nav-box #aside ul li {
  display: inline-block;
  margin: 0 10px;
}
#wrap #header .container .nav-box #aside ul li a {
  font-size: 13px;
  letter-spacing: -.5px;
}
#wrap #header .container .nav-box #aside ul li a:hover {
  text-decoration: underline;
}

/* 돋보기아이콘 */
#wrap #header .container .nav-box #aside ul li div {
  position: relative;
  width: 34px;height: 34px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: all .3s;
}
#wrap #header .container .nav-box #aside ul li div a {
  float: right;
  display: block;
  width: 34px;height: 34px;
  text-align: center;
  line-height: 30px;
}
#wrap #header .container .nav-box #aside ul li div a img {
  width: 20px;
}

/* 통합검색 입력상자 */
#wrap #header .container .nav-box #aside ul li div input {
  transition: all .3s;
  width: 0;height: 22px;
  position: absolute;
  top: 6px;left: 0;
  padding: 0;
}
#wrap #header .container .nav-box #aside ul li div.addInput input {
  width: 127px;
  padding: 0 0 0 10px;
}
#wrap #header .container .nav-box #aside ul li div.addInput {
  width: 170px;
}
#wrap #header .container .nav-box #aside ul li div input::placeholder {
  color: #aaa;
  font-size: 12px;
}

/* 메인메뉴 */
#wrap #header .container .nav-box #nav {
  width: 100%;height: 66px;
}
#wrap #header .container .nav-box #nav > ul {
  float: right;
}
#wrap #header .container .nav-box #nav > ul > li {
  float: left;
}
#wrap #header .container .nav-box #nav > ul > li > a {
  display: block;
  padding: 0 20px;
  line-height: 40px;
  height: 66px;
  font-size: 13px;
}
#wrap #header .container .nav-box #nav > ul > li > a:hover {
  background: #2c2a29;
  color: rgb(102, 153, 0);
  text-decoration: underline;
}
#wrap #header .container .nav-box #nav > ul > li > a.addCurrent {
  background: #2c2a29;
  color: rgb(102, 153, 0);
  text-decoration: underline;
}

/* 서브메뉴 */
#wrap #header .container .nav-box #nav ul li .sub {
  display: none;
  width: 100%;
  position: absolute;
  top: 120px;left: 0;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top {
  width: 100%;height: auto;
  background: #2c2a29;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container {
  width: 1100px;
  margin: 0 auto;
  padding: 15px 0;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul {
  width: 100%;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li {
  width: 20%;
  float: left;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl {
  width: 100%;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl dt {
  line-height: 35px;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl dt a {
  font-size: 14px;
  color: #fff;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl dt a:hover {
  text-decoration: underline;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl dd {
  line-height: 22px;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl dd a {
  font-size: 12px;
  color: #999;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl dd a:hover {
  text-decoration: underline;
}

#wrap #header .container .nav-box #nav ul li .sub .sub-bottom {
  width: 100%;height: auto;
  background: url(../images/gnb_sub_txbg.jpg) repeat 0 0;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container {
  width: 1100px;
  margin: 0 auto;
  padding: 15px 0;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl {
  width: 100%;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl dt {
  line-height: 20px;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl dt a {
  font-size: 12px;
  color: #999;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl dt a:hover {
  text-decoration: underline;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl dd {
  font-size: 12px;
  color: #64a70b;
  line-height: 20px;
}

/* 서브메뉴 1~6 */
#wrap #header .container .nav-box #nav ul li .sub.sub1 {
  
}
#wrap #header .container .nav-box #nav ul li .sub.sub2 {

}
#wrap #header .container .nav-box #nav ul li .sub.sub3 {

}
#wrap #header .container .nav-box #nav ul li .sub.sub4 {

}
#wrap #header .container .nav-box #nav ul li .sub.sub5 {

}
#wrap #header .container .nav-box #nav ul li .sub.sub6 {

}


/* 메인 */
#wrap #main {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 123px 0 0 0;}

  /* 섹션1 */
#wrap #main #section1 {
  width: 100%;height: 637px;
  background: #d1131d;}

#wrap #main #section1 .container {
  position: relative;
}
#wrap #main #section1 .container .star {
  position: absolute;
}
#wrap #main #section1 .container .star1 {
  width: 47px;
  z-index: 1;
  top: 301px;
  left: 211px;
}
#wrap #main #section1 .container .star1 img {
  width: 100%;
}
#wrap #main #section1 .container .star2 {
  width: 29px;
  z-index: 1;
  top: 186px;
  right: 0;
}
#wrap #main #section1 .container .star2 img {
  width: 100%;
}
#wrap #main #section1 .container .img {
  position: absolute;
  opacity: 0;
}
#wrap #main #section1 .container .img1 {
  top: 55px;left: 1px;
  width: 328px;
}
#wrap #main #section1 .container .img1 img {
  width: 100%;
}
#wrap #main #section1 .container .img2 {
  top: 177px;left: 128px;
  width: 435px;
  z-index: 2;
}
#wrap #main #section1 .container .img2 img {
  width: 100%;
}
#wrap #main #section1 .container .img3 {
  top: 80px;left: 510px;
  width: 357px;
  z-index: 2;
}
#wrap #main #section1 .container .img3 img {
  width: 100%;
}
#wrap #main #section1 .container .img4 {
  top: 57px;right: -132px;
  width: 448px;
  z-index: 2;
}
#wrap #main #section1 .container .img4 img {
  width: 100%;
}
#wrap #main #section1 .container .img5 {
  top: 226px;left: 100px;
  width: 129px;
  height: 38px;
  z-index: 2;
}
#wrap #main #section1 .container .img5 a {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: all .3s;
}
#wrap #main #section1 .container .img5 a:hover {
  text-decoration: underline;
  background: rgba(255, 255, 255, .3);
}

/* 섹션2 */
#wrap #main #section2 {
  width: 100%;
  background: #f6f5ef;
}
#wrap #main #section2 #notice {
  width: 100%;height: 62px;
  background-image: linear-gradient(90deg, #111 50%, #f6f5ef 50%);
}
#wrap #main #section2 #notice .container {
  width: 100%;height: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
/* 공지사항 박스 */
#wrap #main #section2 #notice .container .notice-box {
  width: 50%;height: 100%;
  float: left;
  padding: 19px 0 19px 80px;
  position: relative;
}
#wrap #main #section2 #notice .container .notice-box span {
  position: absolute;
  top: 50%;left: 0;
  margin-top: -9.5px;
  width: 65px;
}
#wrap #main #section2 #notice .container .notice-box span img {
  width: 65px;height: 19px;
}
#wrap #main #section2 #notice .container .notice-box div {
  width: 100%;height: 24px;
}
/* 공지사항 목록 */
#wrap #main #section2 #notice .container .notice-box div ul {
  position: relative;
  width: 100%;
  height: 24px;
  overflow: hidden;
}
#wrap #main #section2 #notice .container .notice-box div ul li {
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  line-height: 24px;
  background: #111;
}
#wrap #main #section2 #notice .container .notice-box div ul li {
  z-index: 1;
  top: 24px;
}
#wrap #main #section2 #notice .container .notice-box div ul li:nth-child(1) {
  z-index: 2;
  top: 0;
}
#wrap #main #section2 #notice .container .notice-box div ul li:nth-child(2) {
  z-index: 3;
  top: 24px;
}

#wrap #main #section2 #notice .container .notice-box div ul li a {
  color: #fff;
}
#wrap #main #section2 #notice .container .notice-box div ul li a:hover {
  text-decoration: underline;
}
/* +버튼 */
#wrap #main #section2 #notice .container .notice-box .notice-more {
  position: absolute;
  right: -62px;top: 0;
  width: 62px;
  height: 62px;
  background: #111;
  text-align: center;
  line-height: 58px;
}
#wrap #main #section2 #notice .container .notice-box .notice-more a img {
  width: 36px;
}
/* 프로모션 박스 */
#wrap #main #section2 #notice .container .promotion-box {
  width: 50%;height: 100%;
  float: left;
}
#wrap #main #section2 #notice .container .promotion-box div {
  width: 234px;height: 36px;
  margin: 13px 0 13px auto;
}
#wrap #main #section2 #notice .container .promotion-box div a {
  display: block;
  width: 100%;height: 100%;
  background: url(../images/prom_ttl_b.png) no-repeat 0 50%, url(../images/btn_prom_up.png) no-repeat 100% 50% ;
  background-size: 129px auto, 35px auto;
}
#wrap #main #section2 #notice .container .promotion-box div a.close {
  display: block;
  width: 100%;height: 100%;
  background: url(../images/prom_ttl_b.png) no-repeat 0 50%, url(../images/btn_prom_down.png) no-repeat 100% 50% ;
  background-size: 129px auto, 35px auto;
}

/* 슬라이드 */
#wrap #main #section2 #slide {
  display: none;
  width: 100%;
  background: #f6f5ef;
  border-top: 1px solid #f6f5ef;
}
#wrap #main #section2 #slide .container2 {
  width: 100%;
  padding: 39px 0;
}
#wrap #main #section2 #slide .container2 .slide-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 0 30px 0;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view {
  position: relative;
  width: 819px;
  margin: 0 auto;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap {
  position: relative;
  width: 500%;
  margin: 0 0 0 -100%;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide {
  position: relative;
  width: 819px;
  float: left;
  opacity: .4;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide.addCurrent {
  opacity: 1;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide img {
  width: 100%;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide span {
  width: 125px;
  height: 36px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 0 0 -62.5px;
  line-height: 34px;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide span a {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
  transition: all .3s;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide span a:hover {
  font-weight: 600;
  background: #000;
  color: #fff;
  text-decoration: underline;
}
/* 페이지버튼 */
#wrap #main #section2 #slide .container2 .slide-container .page-btn-box {
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 12px;
  text-align: center;
}
#wrap #main #section2 #slide .container2 .slide-container .page-btn-box span {
  display: inline-block;
  margin: 0 3px;
}
#wrap #main #section2 #slide .container2 .slide-container .page-btn-box span a img {
  width: 12px;
  height: 12px;
}
/* 좌우버튼 */
#wrap #main #section2 #slide .container2 .slide-container .next-btn-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 55px;
  height: 55px;
  margin: -57.5px 0 0 495px;
}
#wrap #main #section2 #slide .container2 .slide-container .next-btn-box .next-btn {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/arrow_right_on.png) no-repeat 50% 50%;
  background-size: 15px auto;
  border: 2px solid #111;
  border-radius: 50%;
}
#wrap #main #section2 #slide .container2 .slide-container .prev-btn-box {
  position: absolute;
  right: 50%;
  top: 50%;
  width: 55px;
  height: 55px;
  margin: -57.5px 495px 0 0;
}
#wrap #main #section2 #slide .container2 .slide-container .prev-btn-box .prev-btn {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/arrow_left_on.png) no-repeat 50% 50%;
  background-size: 15px auto;
  border: 2px solid #111;
  border-radius: 50%;
}

/* 섹션3 */
#wrap #main #section3 {
  width: 100%;height: 240.479px;
  padding:40px 0;
  background: #1e3932;
}
#wrap #main #section3 .container {
  width: 100%;
}
#wrap #main #section3 .container .left {
  width: 256px;
  float: left;
}
#wrap #main #section3 .container .left .gap {
  padding: 0 40px;
}
#wrap #main #section3 .container .left .gap .content {
  width: 100%;
}
#wrap #main #section3 .container .left .gap .content {
  width: 100%;
}
#wrap #main #section3 .container .left .gap .content h2 {
  width: 100%;
}
#wrap #main #section3 .container .left .gap .content h2 img {
  width: 100%;
}
#wrap #main #section3 .container .right {
  width: 844px;
  float: left;
}
#wrap #main #section3 .container .right .gap {
  padding: 0 40px 0 0;
}
#wrap #main #section3 .container .right .gap .content {
  width: 100%;
  color: #fff;
}
#wrap #main #section3 .container .right .gap .content .top {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  width: 100%;
  padding: 0 0 15px 0;
}
#wrap #main #section3 .container .right .gap .content .top .top-left {
  line-height: 160%;
  width: auto;
  float: left;
}
#wrap #main #section3 .container .right .gap .content .top .top-left h3 {
  font-size: 26px;
  padding: 0 0 20px 0;
  font-weight: 500;
}
#wrap #main #section3 .container .right .gap .content .top .top-left h3 strong {
  font-weight: 600;
}
#wrap #main #section3 .container .right .gap .content .top .top-left p {
  font-size: 17px;
}
#wrap #main #section3 .container .right .gap .content .top .top-left p strong {
  font-weight: 600;
}
/* 버튼박스 */
#wrap #main #section3 .container .right .gap .content .top .top-right {
  width: 183px;
  float: right;
  height: 92.563px;
  display: flex;  /* 플렉스 정의 */
}
#wrap #main #section3 .container .right .gap .content .top .top-right .btn-box {
  width: 100%;
  margin: auto 0 0 0;
  display: flex;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .btn-box a {
  color: #fff;
  display: inline-block;
  height: 38px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .btn-box a:hover {
  text-decoration: underline;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .btn-box a.signup-btn {
  background: #00704a;
  border: 2px solid #00704a;
  width: 93px;
  margin: 0 auto 0 0;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .btn-box a.login-btn {
  border: 2px solid #fff;
  background: transparent;
  width: 78px;
  margin: 0 0 0 auto;
}

#wrap #main #section3 .container .right .gap .content .bottom {
  width: 100%;
  padding: 15px 0 0 0;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-left {
  line-height: 160%;
  width: auto;
  float: left;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-left p {
  font-size: 14px;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-left p strong {
  font-weight: 600;
}

#wrap #main #section3 .container .right .gap .content .bottom .bottom-right {
  width: 183px;
  float: right;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-right .btn-box {
  width: 100%;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-right .btn-box a {
  color: #fff;
  display: inline-block;
  line-height: 38px;
  border-radius: 5px;
  text-align: center;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-right .btn-box a:hover {
  text-decoration: underline;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-right .btn-box a.gift-btn {
  border: 2px solid #fff;
  background: transparent;
  width: 100%;
}
  
/* 섹션4 */
#wrap #main #section4 {
  width: 100%;height: 573px;
  background: #ffa59c url(../images/section4_bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

#wrap #main #section4 .container {
  height: 100%;
  position: relative;
}
#wrap #main #section4 .container .left {
  height: 100%;
  position: absolute;
  top: 90px;
  right: 150%;
  max-width: 484px;
  width: 100%;
  transition: all 2.5s ease-in-out;
  opacity: 0;
}
#wrap #main #section4.addAni .container .left {
  right: 50%;
  opacity: 1;
}
#wrap #main #section4 .container .left .wrap {
  width: 100%;
}
#wrap #main #section4 .container .left .wrap img {
  width: 100%;
}

#wrap #main #section4 .container .right {
  height: 100%;
  position: absolute;
  top: 183px;
  left: 150%;
  max-width: 317px;
  width: 100%;
  transition: all 2.5s ease-in-out;
  opacity: 0;
}
#wrap #main #section4.addAni .container .right {
  left: 50%;
  opacity: 1;
}
#wrap #main #section4 .container .right .wrap {
  width: 100%;
}
#wrap #main #section4 .container .right .wrap h2 {
  width: 100%;
}
#wrap #main #section4 .container .right .wrap h2 img {
  width: 100%;
}
#wrap #main #section4 .container .right .wrap p {
  padding: 40px 0 0 3px;
}
#wrap #main #section4 .container .right .wrap p a {
  display: block;
  width: 125px;
  height: 38px;
  border: 2px solid #453d3d;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
  color: #453d3d;
  transition: all .3s;
}
#wrap #main #section4 .container .right .wrap p a:hover {
  text-decoration: underline;
  color: #fff;
  background: #453d3d;
}

/* 섹션5 */
#wrap #main #section5 {
  position: relative;
  width: 100%;height: 400px;
  background:#094a3d;
}
#wrap #main #section5.addFadein:after {
  z-index: 1;
  position: absolute;
  top: 0;left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/section5_bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  transition: all .6s ease-in-out;
  animation: fadein 3s ease-in-out;
}
/* fadein 효과 애니메이션 */
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
  /* 0% {opacity: 0;}
     100% {opacity: 1;} */
}
#wrap #main #section5 .container {
  z-index: 2;
  position: relative;
  height: 100%;
  display: flex;
}
#wrap #main #section5 .container .title {
  width: 674px;
  margin: auto 0;
}
#wrap #main #section5 .container .title h2 {
  width: 100%;
}
#wrap #main #section5 .container .title h2 img {
  width: 100%;
}
#wrap #main #section5 .container .title p {
  text-align: center;
}
#wrap #main #section5 .container .title p a {
  margin: 0 0 0 200px;
  display: inline-block;
  width: 125px;
  height: 38px;
  border: 2px solid #d5a012;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
  color: #d5a012;
  transition: all .3s;
}
#wrap #main #section5 .container .title p a:hover {
  text-decoration: underline;
  color: #fff;
  background: #d5a012;
}

/* 섹션6 */
#wrap #main #section6 {
  width: 100%;height: 800px;
  background: url(../images/section6_bg.jpg) no-repeat 50% 50% fixed;
  background-size: cover
}
#wrap #main #section6 .container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
#wrap #main #section6 .container .left {
  width: 362px;
  text-align: right;
  margin: auto 0;
}
#wrap #main #section6 .container .left h2 {
  padding: 0 0 50px 0;
}
#wrap #main #section6.addAni .container .left h2 {
  animation: sec6Ani1 2s ease-in-out;
}
@keyframes sec6Ani1 {
    0% {transform: translate(-1000px,0);opacity: 0;}
  100% {transform: translate(0px,0);opacity: 1;}
}
#wrap #main #section6 .container .left h2 img {
  width: 100%;
  max-width: 258px;
}
#wrap #main #section6 .container .left h3 {
  padding: 0 0 45px 0;
}
#wrap #main #section6.addAni .container .left h3 {
  animation: sec6Ani2 2.5s ease-in-out;
}
@keyframes sec6Ani2 {
    0% {transform: translate(-1000px,0);}
  100% {transform: translate(0px,0);}
}
#wrap #main #section6 .container .left h3 img {
  width: 100%;
}
#wrap #main #section6 .container .left p {
  text-align: center;
}
#wrap #main #section6.addAni .container .left p {
  animation: sec6Ani3 3s ease-in-out;
}
@keyframes sec6Ani3 {
    0% {opacity: 0;}
  100% {opacity: 1;}
}
#wrap #main #section6 .container .left p a {
  margin: 0 0 0 200px;
  display: inline-block;
  width: 125px;
  height: 38px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
  color: #fff;
  transition: all .3s;
}
#wrap #main #section6 .container .left p a:hover {
  text-decoration: underline;
  color: #111;
  background: #fff;
}
#wrap #main #section6 .container .right {
  width: 672px;
  margin: auto -100px auto auto;
}
#wrap #main #section6 .container .right img {
  width: 100%;
}

/* 섹션7 */
#wrap #main #section7 {
  position: relative;
  width: 100%;height: 400px;
  background: #fff url(../images/reserve_bg_pc.png) no-repeat 50% 50px;
}

#wrap #main #section7 .container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
#wrap #main #section7 .container .left {
  width: 588px;
  margin: auto auto auto 0;
}
#wrap #main #section7 .container .left h2 {
  width: 100%;
}
#wrap #main #section7 .container .left h2 img {
  width: 100%;
}
#wrap #main #section7 .container .left p {
  text-align: center;
  padding: 30px 0 0 0;
}
#wrap #main #section7 .container .left p a {
  margin: 0 0 0 100px;
  display: inline-block;
  width: 125px;
  height: 38px;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
  color: #000;
  transition: all .3s;
}
#wrap #main #section7 .container .left p a:hover {
  background: #000;
  color: #fff;
  text-decoration: underline;
}
#wrap #main #section7 .container .right {
  width: 348px;
  margin: 0 70px auto auto;
}
#wrap #main #section7.addFade .container .right {
  animation: sec7Ani 2s ease-in-out;
}
@keyframes sec7Ani {
    0% {opacity: 0;}
  100% {opacity: 1;}
}
#wrap #main #section7 .container .right img {
  width: 100%;
}

/* 섹션8 */
#wrap #main #section8 {
  width: 100%;height: 400px;
  background: url(../images/section8_bg.jpg) no-repeat 50% 50%;
  background-size: cover;}

#wrap #main #section8 .container {
  height: 100%;
  max-width: 1141px;
  transform: translateX(20.5px);
  display: flex;
  background: url(../images/store_exp_img03.png) no-repeat 50% -60px,
              url(../images/store_exp_img04.png) no-repeat 100% 100%;
  background-size: 343px auto, 230px auto;
}
#wrap #main #section8 .container .left {
  display: flex;
  width: 366px;
  height: 312px;
  margin: 0 auto auto 0;
  background: url(../images/store_exp_img02.png) no-repeat 0 0;
  background-size: 366px auto;
}
#wrap #main #section8.addAni .container .left {
  animation: sec8Fade1 2s ease-in-out;
}
@keyframes sec8Fade1 {
    0% {opacity: 0;}
  100% {opacity: 1;}
}
#wrap #main #section8 .container .left span {
  margin: auto -80px -80px auto;
}
#wrap #main #section8.addAni .container .left span {
  animation: sec8Fade2 3s ease-in-out;
}
@keyframes sec8Fade2 {
  0% {opacity: 0;}
100% {opacity: 1;}
}
#wrap #main #section8 .container .left span img {
  width: 228px;
}
#wrap #main #section8 .container .right {
  width: 385px;
  margin: auto 100px auto auto;
}
#wrap #main #section8 .container .right h2 {
  width: 100%;
  padding: 0 0 15px 0;
}
#wrap #main #section8.addAni .container .right h2 {
  animation: sec8Ani1 2s ease-in-out;
}
@keyframes sec8Ani1 {
    0% {transform: translateX(1000px);opacity: 0;}
  100% {transform: translateX(0);opacity: 1;}
}
#wrap #main #section8 .container .right h2 img {
  width: 385px;
}
#wrap #main #section8.addAni .container .right h3 {
  animation: sec8Ani2 2.5s ease-in-out;
}
@keyframes sec8Ani2 {
  0% {transform: translateX(1000px);opacity: 0;}
100% {transform: translateX(0);opacity: 1;}
}
#wrap #main #section8 .container .right h3 {
  width: 100%;
}
#wrap #main #section8 .container .right h3 img {
  width: 366px;
}
#wrap #main #section8 .container .right p  {
  text-align: left;
  padding: 30px 0 0 0;
}
#wrap #main #section8.addAni .container .right p  {
  animation: sec8Ani3 3s ease-in-out;
}
@keyframes sec8Ani3 {
  0% {transform: translateX(1000px);opacity: 0;}
100% {transform: translateX(0);opacity: 1;}
}
#wrap #main #section8 .container .right p a {
  margin: 0 auto 0 0;
  display: inline-block;
  width: 125px;
  height: 38px;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
  color: #000;
  transition: all .3s;
}
#wrap #main #section8 .container .right p a:hover {
  background: #000;
  color: #fff;
  text-decoration: underline;
}

/* 푸터 */
#wrap #footer {
  z-index: 2;
  position: relative;
  width: 100%;
  padding: 35 0 35 0;
  background: #2C2A29;
}
#wrap #footer .container {
  max-width: 100%;
}
#wrap #footer .container .top {
  width: 100%;
  padding: 40px 0;
}
#wrap #footer .container .top .wrap {
  width: 100%;
  max-width: 1182px;
  margin: 0 auto;
  background: url(../images/footer_logo.png) no-repeat 100% 0;
}
#wrap #footer .container .top .wrap ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
#wrap #footer .container .top .wrap ul li {
  width: 20%;
}
#wrap #footer .container .top .wrap ul li dl {
  width: 100%;
}
#wrap #footer .container .top .wrap ul li dl dt {
  line-height: 40px;
}
#wrap #footer .container .top .wrap ul li dl dt a {
  color: #eee;
  font-size: 15px;
}
#wrap #footer .container .top .wrap ul li dl dt a:hover {
  text-decoration: underline;
}
#wrap #footer .container .top .wrap ul li dl dd {
  line-height: 25px;
}
#wrap #footer .container .top .wrap ul li dl dd a {
  color: #ccc;
  font-size: 13px;
}
#wrap #footer .container .top .wrap ul li dl dd a:hover {
  text-decoration: underline;
}
#wrap #footer .container .middle {
  background: #282828;
  padding: 25px 0;
}
#wrap #footer .container .middle .wrap {
  width: 100%;
  max-width: 1182px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}
#wrap #footer .container .middle .wrap span {
  width: 100%;
}
#wrap #footer .container .middle .wrap span a img {width: auto;}

#wrap #footer .container .bottom {
  padding: 20px 0 40px 0;
  text-align: center;
}
#wrap #footer .container .bottom .wrap {
  width: 100%;
}
#wrap #footer .container .bottom .wrap ul {
  width: 100%;
}
#wrap #footer .container .bottom .wrap ul li {
  padding: 10px 0;
}

#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span {
  display: inline-block;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span a {
  color: #ccc;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -1px;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span a:hover {
  text-decoration: underline;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span:nth-child(1) a {
  color: #00b050;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span i {
  display: block;
  width: .5px;
  height: 13px;
  background: #555;
  margin: 0 10px;
}

#wrap #footer .container .bottom .wrap ul li:nth-child(2) div {
  padding: 0 0 10px 0;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span {
  margin: 0 2px;
  width: 114px;
  display: inline-block;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span a {
  display: block;
  width: 114px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 29px;
  color: #fff;
  font-size: 12px;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span a:hover {
  text-decoration: underline;
}

#wrap #footer .container .bottom .wrap ul li:nth-child(3) address {
  color: #999;
  font-size: 12px;
}

#wrap #footer .container .bottom .wrap ul li:nth-child(4) p {
  color: #999;
  font-size: 12px;
}

/* 퀵메뉴 */
.quick-menu {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 590px;
  width: 140px;
  height: 96px;
}

/* go top */
.go-top {
  z-index: 3;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
}
.go-top a img {
  width: 100%;
}